/* Primary Color */
$Cyan: hsl(179, 62%, 43%);
$Bright-Yellow: hsl(71, 73%, 54%);

/* Neutral Color */
$Light-Gray: hsl(204, 43%, 93%);
$Grayish-Blue: hsla(0, 0%, 100%, 0.637);
$text: hsl(218, 22%, 67%);

/* Background Color */
$background: 	hsl(206, 47%, 93%);